$primary-color: #adadaf;
$primary-font:"Hind", sans-serif;
%liststyle  {margin: 0px;padding: 0px; list-style: none;}
%shadow-btm{ -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);}
%shadowbtm2{
 -webkit-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
-moz-box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);
box-shadow: 0px 4px 13px 1px rgba(214,214,214,1);

}
%placeholder{color: #858585; font-weight: 400; font-size: 12.7px;}
$clear :both;
$linkcolor:#adadaf;
@mixin border-box(){
    -webkit-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    -moz-box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
    box-shadow: 0px 9px 10px -9px rgba(214,214,214,1);
}
*,:before,:after{box-sizing:border-box}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-family: $primary-font;font-size:1.3em;color:$primary-color;line-height:1.5}
.floatnone{float: none;}
.floatright{float: right}
.floatleft{float:left}
.center-block{margin: 0px auto !important; display: block;}
.clear{clear: $clear;}
header{
 width: 100%;
 min-height: 85px;position: relative; background: #fff;
 @include border-box();
  figure{
      margin: 0px;padding: 0px;
  }
}
.header__logo{ padding:0px 0 0px;}
.mainmenu{min-height: inherit; display:block;padding:36px 0 5px;}
.navbar{width: calc(100% - 70px);  display: block;min-height: 25px;
&__menu{  @extend %liststyle;  float: right;}
&__menu--item{float: left; display: inline-block; line-height: 25px;}
&__menu--item > a{ padding: 10px 13px; color: $linkcolor; font-size: 12px;text-transform: uppercase;font-weight: 600;
}
}

.head-right{padding:35px 0 05px; height: inherit;position: relative;}
.head-cnt{
    @extend %liststyle;
li{float: left;display: inline-block;position: relative; }
li:first-child{ margin-right: 10px;}
    &__phone a{
font-size: 12px;font-weight: 500; color: $linkcolor;margin-top: 6px; display: block;
    }
    &__requestoffer a{
        display: block; background: #085c5f; color: #fff; text-align: center; width:127px; height: 30px;
        text-transform: uppercase; font-size: 13px;line-height: 29px;
    }
}

.footer{min-height:285px; height: auto; width: 100%; display: block;
    &__top{
     background: #f7f7f7;    width: 100%; padding: 30px 0;
    }
    &__top--text{color: #858585; margin: 0px; line-height: 1.7; font-size:14.8px;}
    &__top--text p{margin-bottom: 0px;}
    &__bottom{ background: #ff6b2a; width: 100%; min-height: 50px; line-height: 49px;  }
    &__copyright{color: #fff; font-size: 14.5px;}
}

.main__banner{
    width: 100%; min-height: 584px; height: auto; margin:0 0 0px; position: relative; display: inline-block;
    background: url(../images/offerpad-banner3.png) no-repeat center; background-size: cover;
    &__img{margin-bottom: 0px;    padding-bottom:0rem;
    img{margin: 0px;}
    }
    &__caption{width: 100%; height:285px; top: 0px; position: absolute; left: 0px; right: 0px; bottom: 0px;}
}
/*****requestoffer*********/
.requestoffer{width: 100%; height:inherit; padding: 150px 112px 10px;  position: relative;
    &__heading1{
        color: #fff; font-weight: 600; font-size: 46px; text-transform: uppercase;margin:0px 0 0px;
    }
    
    &__tagline{
        color: #fff; font-weight:400; font-size: 30px; text-transform: uppercase;margin: 0px 0 10px; display: block;
    }
    &__tagline2{ color: #fff; font-size:18.5px; font-weight:300; margin:0px 0 10px; text-shadow: 0.5px 0.5px 0px #a1a1a1 }
    &__form{
        width: calc(100% - 315px);display: block;
    }
    &__form input[type="text"]{width: 100%; height: 40px; background:rgba(3,36,37,0.6); font-size: 14px; outline: none; border: none;
    display: block; margin: 0 0 10px 0; text-align: center;
    }
    &__form input[type="text"]::placeholder{text-align: center;color: #fff;font-size: 16px}
    &__form input[type="button"]{background: #fff ; color: #ff6b2a; letter-spacing: 1px; height:40px;width: 100%;font-weight:700;
    font-size: 16px;    border: none;
    
    }
}
.cities-list{
    width: 100%; background: #f8f8f8; min-height: 65px;padding: 20px 0;
@extend %shadowbtm2;

}
.city__list{
    @extend %liststyle;
    &--padd{
padding: 0 5px;
    }
    &item{float: left; display: inline-block;margin: 0px;}
    &item a{color: #adadaf; font-size: 15px; padding:3px 15px; text-transform: uppercase; font-weight: 500;}
}
.secondwrapper{
    width: 100%; min-height: 850px; position: relative; display: block;margin-bottom: 15px;
}

.propertyform{ margin: 0px auto; display: block; padding: 40px 0;
    &__heading{background: #74af28; padding:12px 20px; color: #fff;}
    &__heading--first{
        font-size: 30px; font-weight: 600; margin: 0 0 2px 0;
    }
    &__heading--second{
        font-size: 22px; font-weight: 400;
    }
    &__wrap{
        padding:40px 44px 10px; background: #fff;  
        @extend %shadowbtm2;
    }
    
    &__field-wrapper{margin-bottom: 10px;width: 100%; display: block;}
    &__field-wrapper label{font-weight:400; color: #131313;text-shadow: 0.2px 0.2px;}
    &__field-wrapper input[type="number"],&__field-wrapper input[type="text"],&__field-wrapper input[type="email"],&__field-wrapper input[type="tel"],&__fields{border:none; border-radius: 0px; background: #e7e7e7;}
    &__field-wrapper input[type="number"]::placeholder,&__field-wrapper input[type="text"]::placeholder,&__field-wrapper input[type="email"]::placeholder,&__field-wrapper input[type="tel"]::placeholder{
        @extend %placeholder;
    }
    &__fields--btn{width: 100%;text-transform: uppercase; font-weight: 600;height: 40px;background: #f16b2a; color: #fff;font-size: 18px;
    -webkit-box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
-moz-box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
box-shadow: 0px 3px 8px 1px rgba(214,214,214,1);
    }
    &__fields--btn:hover{color: #fff;}
    &__wrap--btm{width: 100%; min-height: 50px; position: relative; line-height: 29px; padding:20px 0 15px;}
    &__wrap--btm span{font-size: 28px;  display: block;color: $linkcolor;font-weight:400;}
    &__wrap--btm a{color: #74af28; font-size: 25px;font-weight: 600;}
}

.secondwrapbox{
    &__box1{min-height:288px;padding:40px 65px; color: #131313;
    h4{
        font-size: 35px; font-weight: 600; margin-bottom: 0px;color: #ff6b2a;
    }
    i,p {color: #131313;font-family: 'Quicksand', sans-serif;font-size:30px; font-style: italic;
         font-weight: 300; display: block; padding: 10px 0;margin-bottom: 5px;}
    small{font-size: 20px;}
    }
    &__box2{background: #74af28;padding: 40px 40px; color: #fff; font-size: 24px;    line-height: 28.5px;
        &__tagline--one{font-weight: 700;font-size: inherit;}
        &__tagline--two{font-weight: 500;font-size: inherit;}
    }
    &__box3{background:#ff6b2a;padding: 40px 40px; color: #fff;font-size: 24px; line-height: 28.5px;
        &__tagline--one{font-weight: 700;font-size: inherit;}
        &__tagline--two{font-weight: 500;font-size: inherit;}
    }
}
.third_wrap{width: 100%; min-height:740px; position: relative;    display: inline-block;margin-bottom: 15px;
&__left{height: inherit; min-height:604px; 
background: url(../images/btm-img-lft.png) no-repeat;
background-size:100% 100%;width: 50%;position: relative;

&--text{background: rgba(241,107,42,0.8); display: block; position: relative; bottom:-468px;min-height: 250px; 
padding:33px 127px; color: #fff;width: 100%;z-index: 1;
 h2{font-size: 50px; text-transform: uppercase; font-weight: 700;line-height: 1.0; text-transform: uppercase;
  span{
      font-size: 36px; display: block; font-weight:500;
  }
 }
 &content{font-size: 24px; line-height: 1.6; padding: 10px 0 0 0;display: block;}
}

}
&__right{
    height: inherit;min-height: 604px; position: relative;
    margin-left: 0px;width: 50%;

    background: url(../images/btm-img-rht.png) no-repeat;
background-size: 100% 100%;

&--text{background: rgba(116,175,40,0.8); display: block; position:relative; bottom: -468px; min-height: 250px; 
    padding:33px 127px 33px 100px; color: #fff;width: 100%;z-index: 1;
     h2{font-size: 50px; text-transform: uppercase; font-weight: 700;line-height: 1.0;text-transform: uppercase;
      span{
          font-size: 36px; display: block; font-weight:500;
      }
     }
     &content{font-size: 24px; line-height: 1.6; padding: 10px 0 0 0;display: block;}
    }

}

}
/****fouth_wrap****/
.fouth_wrap{width: 100%;min-height:500px; margin: 15px 0 15px;
&__youtube{width: 80%; position: relative; min-height: 295px; overflow: hidden; display: block; margin-bottom: 10px;    margin: 0px auto;
    iframe{
        width: 100%;height: 295px;
    }
    &--text{
        color: #131313; font-size: 18.2px; padding:9px 105px;
        display: block;
        line-height: 19px;
        text-shadow: 0.1px 0.1px;
    }
}
&__heading{text-align: center; margin: 0 0 15px;position: relative; color: #ff6b2a;font-size:36px;font-weight: 600}
&__span{font-size:28.5px;color: #89bb48; padding: 10px 5px;text-align: center; display: block;font-weight:500; line-height: 36px;}
&__content{color: #131313;  line-height:34px; font-size:19px; text-align: justify;padding: 10px 0px;}
}
.request-btn{background: #ff6b2a;
    color: #fff; text-align: center;text-transform: uppercase; margin:10px auto; display: block;
    letter-spacing: 1px;line-height: 40px;
    height: 40px;
    width: 383px;
    font-weight: 500;
    font-size: 17px;
    border: none;}

/* Screen < 1200px */
@media (min-width: 100px) and (max-width: 1200px) {
    .navbar{ width: calc(100% - 20px);}
    .propertyform__fields--btn{    font-size: 14px;}
    .head-cnt{width: 216px; margin: 0px auto;}
    .requestoffer{padding: 25px 30px 10px;
        &__form{
            width: 80% ;display: block;
        }
    }
    .third_wrap{
        &__left{width: 100%;background-size: 100%;
            &--text{ padding: 15px; bottom: -270px;}
        }
        &__right{background-size: 100%;    
            margin-left: 0px;width: 100%;
            &--text{ padding: 15px;bottom: -270px;}
        }
    }
    .fouth_wrap{ padding: 15px 0;
    &__youtube--text{padding: 9px 15px;}
    }
    .request-btn{width: 100%;}
    .city__list{
        &item{ display: block;float:none;margin: 0 0 16px auto;}
    }
    .secondwrapbox__box1{padding: 60px 20px;}
}